<ion-header>
  <ion-navbar color="bule">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="logo-wrapper"><img src="../../assets/imgs/logo.png"/></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 padding text-center>{{api.getCatName(2)}}</h1>
<ion-card *ngFor="let kitchenitem of kitchenitems" (click)="openKitchenDetails(kitchenitem)">
  <img src="{{kitchenitem._embedded['wp:featuredmedia'][0].media_details.sizes.medium.source_url}}"/>
  <ion-card-content>
    <ion-card-title>
      <h1 padding text-center>{{kitchenitem.title.rendered}}</h1>
    </ion-card-title>
        <ion-row class="row-center">
            <ion-badge color="second">
              {{api.getCatName(kitchenitem.categories[0])}}
            </ion-badge>
            <ion-badge color="light">
                <ion-icon name="time"></ion-icon>
              {{kitchenitem.date | date: "dd.MM.yyyy / hh.mm"}}
            </ion-badge>
        </ion-row>


    <p [innerHTML]="kitchenitem.content.rendered | truncatePipe : 100" padding text-center>
    </p>
  </ion-card-content>
</ion-card>
<div *ngIf="isLoading" text-center padding>
  <ion-spinner></ion-spinner>
</div>
<button *ngIf="showLoadMore" ion-button full (click)="getKitchenPosts()">Load more</button>
</ion-content>
