page-home {

    ion-row.row-center {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: inherit;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    ion-title.logo-wrapper {
        width: 200px;
        height: auto;
        text-align: center;
        // margin: 0 auto;
        margin-left: 7%;
    }
    ion-title.logo-wrapper img {
        margin-top:5px;
    }
    .scroll-content {
        margin-top: 70px;
    }
    .scroll-content {
        padding: 0 !important;
    }

    

}
